<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.serviceModel>
    <bindings>
      <basicHttpBinding>
        <binding name="BasicHttpBinding_IBooksWcfService" />
        <binding name="BasicHttpBinding_IOrdersWcfService" />
        <binding name="BasicHttpBinding_IUsersWcfService" />
      </basicHttpBinding>
    </bindings>
    <client>
      <endpoint address="http://localhost:9554/BooksWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IBooksWcfService"
        contract="BooksWcfService.IBooksWcfService" name="BasicHttpBinding_IBooksWcfService" />
      <endpoint address="http://localhost:9554/OrdersWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IOrdersWcfService"
        contract="OrdersWcfService.IOrdersWcfService" name="BasicHttpBinding_IOrdersWcfService" />
      <endpoint address="http://localhost:9554/UsersWcfService.svc"
        binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IUsersWcfService"
        contract="UsersWcfService.IUsersWcfService" name="BasicHttpBinding_IUsersWcfService" />
    </client>
  </system.serviceModel>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
